{% extends "base.html" %} {% block content %}
<h2 class="title">Arno Arts</h2>
<p>
  I'm a developer based in Amsterdam, The Netherlands, with over six years of
  professional experience. Throughout my career, I've primarily focused on
  writing Python and Go. More recently, I've been working with Rust to build
  developer tools and robust data pipelines at my current company, KPN. I have a
  strong interest in reproducible builds and distributed systems, and I'm always
  eager to deepen my understanding of tools and languages. Currently, I'm
  learning Nix and Elixir.
</p>
<p>
  Outside of work, I enjoy engaging in projects related to home automation, 3D
  printing, analog photography and darkroom printing, bouldering, cooking, and
  art-house cinema.
</p>

<h2 id="Articles">Articles</h2>
<ul class="articles">
  {% set section = get_section(path="blog/_index.md") %} {% for page in
  section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p class="date">{{ page.date }}</p>
  </li>
  {% endfor %} {% endblock content %}
</ul>
