{% extends "base.html" %} {% block content %}
<h2 class="title">Arno Arts</h2>
<p>
  I'm a developer living in Amsterdam, The Netherlands. At the momen I work as a
  data engineer at KPN. I spend most of my time expanding my knowledge of
  technologies and languages. Currently I'm very interested in Nix, Zig and Go.
</p>

<h2 id="Articles">Articles</h2>
<ul class="articles">
  {% set section = get_section(path="blog/_index.md") %} {% for page in
  section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p class="date">{{ page.date }}</p>
  </li>
  {% endfor %} {% endblock content %}
</ul>
